@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Open+Sans:wght@300;600;700&display=swap');

.hiking{
	background: url(../pictures/background/shape.png);
	width: 100%;
	height: 56.152vw;
	background-repeat: no-repeat;
	background-size: 100%;
}
.hiking__container{
	padding-top: 15.86vw;
	padding-left: 0.977vw;
	width: 40.738vw;
}
.hiking__header{
	color: #deb37e;
	font-size: 6vw;
	font-weight: 700;
	text-shadow: 2px -2px 5px gray;
}
.hiking__subtitle{
	font-size: 1.8vw;
	font-style: italic;
	font-weight: 700;
}
.hiking__button{
	font-size: 2vw;
	color: #776c64;
	font-weight: 700;
	cursor: pointer;
	padding: 0.488vw 1.709vw 0.488vw 1.709vw;
	border-radius: 2.441vw;
	background-color: white;
}
.hiking__block_button{
	text-align: center;
	margin: 2.441vw 0 2.441vw 0.732vw;
	width: 16vw;
}
.hiking__text{
	font-style: italic;
	font-size: 1.3vw;
	width: 26.885vw;
}



.lets_go{
	margin-top: 3.906vw;
	margin-bottom: 3.906vw;
}
.lets_go__block_header{
	width: 46.875vw;
	text-align: center;
	margin: auto;
	margin-bottom: 3.906vw;
}
.lets_go__header{
	color: #deb37e;
	font-size: 4vw;
	font-weight: 700;
}
.lets_go__text{
	font-size: 1.3vw;
}

.lets_go__block_column{
	display: flex;
	justify-content: space-evenly;
}
.lets_go__block_item{
	width: 19.5vw;
	background-color: #7f7770;
}
.lets_go__block_item_container{
	padding: 1.465vw 0.244vw 1.465vw 0.732vw;
	color: white;
}
.lets_go__block_item_png{
	width: 19.5vw;
}
.lets_go__block_item_text{
	font-size: 1.5vw;
}
.lets_go__block_item_header{
	font-size: 2vw;
	margin-bottom: 0.488vw;
}
.lets_go__block_button{
	margin: auto;
	margin-top: 3.662vw;
	text-align: center;
	width: 19.5vw;
}
.lets_go__button{
	padding: 0.732vw 4.883vw 0.732vw 4.883vw;
	font-size: 1.5vw;
	background-color: #7f7770;
	color: white;
	border-radius: 50px;
	font-weight: 700;
}



.promotion__column{
	display: flex;
	flex-basis: 50%;
	flex-wrap: wrap;
}
.promotion__item{
	width: 50%;
}
.promotion__png{
	width: 100%;
}
.promotion__block_text{
	color: white;
	width: 75%;
}
.promotion__header{
	font-size: 4vw;
	font-weight: 700;
}
.promotion__text{
	font-size: 1.7vw;
	margin-top: 1.4628vw;
	margin-bottom: 3.906vw;
}
.promotion__block_button{
	width: 14.648vw;
	text-align: center;
	cursor: pointer;
}
.promotion__button{
	background-color: #e2a355;
	padding: 0.977vw 3vw 0.977vw 3vw;
	letter-spacing: 0.244vw;
	font-size: 1.4vw;
	color: white;
	font-weight: 700;
	border-radius: 3.906vw;
}
.promotion__item_1{
	background-color: #7f7770;
}
.promotion__item_2{
	background-color: #deb37e;
}
.promotion__item_2, .promotion__item_1{
	height: 54.2vw;
	width: 50%;
}
.promotion__block_text_grey{
	padding: 13.184vw 0px 0px 4.883vw;
	background-color: #7f7770;
}
.promotion__block_text_orange{
	padding: 12.207vw 0px 0px 9.766vw;
	background-color: #deb37e;
}



.mountains{
	background: url(../pictures/background/3560835.png);
	width: 100%;
	height: 38vw;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-top: 10vw;
	padding-top: 14.648vw;
}
.mountains__block_text{
	color: white;
	text-align: center;
	margin: auto;
	width: 50%;
}
.mountains__text{
	font-size: 1.7vw;
	margin-top: 2.441vw;
}
.mountains__header{
	font-size: 4vw;
}



.world{
	background: url(../pictures/background/3560800.png);
	width: 100%;
	height: 60vw;
	margin-top: 7.324vw;
	background-repeat: no-repeat;
	background-size: 100%;
}
.world__block_text{
	width: 32.337vw;
	float: right;
	margin-right: 4.883vw;
	margin-top: 18.5vw;
}
.world__text{
	font-weight: 700;
	width: 32.5vw;
	font-style: italic;
	font-size: 5.5vw;
	text-shadow: 0.146vw -0.146vw 0.244vw gray;
}
.world__text_up{
	color: #deb37e;
	text-align: right;
}
.world__text_down{
	color: #54524f;
}	



.information{
	margin-top: 6.766vw;
	margin-bottom: 8vw;
}
.information__column{
	display: flex;
	justify-content: space-evenly;
}
.information__item{
	width: 25%;
}
.information__header{
	color: #deb37e;
	font-weight: 700;
	font-size: 2vw;
	margin-bottom: 1.465vw;
}
.information__text{
	font-size: 1.3vw;
}
.information__sub_block{
	width: 60%;
	margin: auto;
	margin-top: 19.531vw;
	text-align: center;
}
.information__subtext{
	font-size: 1.7vw;
}
.information__subheader{
	font-size: 1.7vw;
	font-weight: 700;
	margin-top: 2.441vw;
}


.email{
	background: url(../pictures/background/email.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: 53vw;
}
.email__block{
	margin: auto;
	width: 60%;
	text-align: center;
	padding-top: 14.648vw;
}
.email__header{
	color: white;
	font-size: 4vw;
	margin-bottom: 2.441vw;
}
.email__text{
	font-size: 1.8vw;
}
.email__block_string{
	display: inline-flex;
	margin-top: 3.418vw;
}
.email__string{
	font-size: 1.221vw;
 	padding: 0.488vw;
 	padding-left: 1.465vw;
 	width: 40vw;
 	border: none;
 	border-radius: 2.441vw;
 	appearance: none;
 	outline: none;
}
.email__button{
	display: absolute;
	font-weight: 700;
	border-radius: 2.441vw;
	font-size: 1.221vw;
	color: white;
	padding: 0.732vw;
	padding-left: 2.441vw;
	padding-right: 2.441vw;
	background-color: #54524f;
}